/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #FFE27A; */
    background-color: white;
    text-align: center;
  }

  header {
    background-color: #4267A2;
    color: #fff;
    padding: 30px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 50px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  main h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  table {
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  /* Specific styles for restaurant.html */
  